    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Как помочь человеку на улице?</h2>
                <p>Ежедневно нам всем встречаются люди, которые просят милостыню на улице. Как им помочь, при этом не навредив и не спонсируя мошенников?</p>
                <div class="row">
                  <div class="col-md-6">
                    <img src="img/card-front.png" class="img-responsive"/>
                  </div>
                  <div class="col-md-6">
                    <img src="img/card-back.png" class="img-responsive"/>
                  </div>
                </div>
                <div class="row">
                  <br /><br />
                  <p>Помокарта - это возможность оказать квалифицированную, адресную помощь людям, которые ее просят.</p>

                  <hr />
                  <br /><br />

                  <div class="row">
                    <div class="col-md-4 howItWorksColumn">
                      <h4>1</h4>
                      <p>Вы регистрируйтесь на сайте и привязываете банковскую карту.</p>
                    </div>
                    <div class="col-md-4 howItWorksColumn">
                      <h4>2</h4>
                      <p>Вам доставляют 50 помокарт, на каждую нанесен уникальный код.</p>
                    </div>
                    <div class="col-md-4 howItWorksColumn">
                      <h4>3</h4>
                      <p>Когда вам встретится человек, просящий милостыню - просто дайте ему одну из карт. </p> 
                    </div>
                  </div>

                  <hr />
                  <p class="howItWorksCont">Если он позвонит по указанному на ней номеру телефона, сообщит оператору уникальный код и объяснит свою ситуацию, то eму помогут обратиться в один из специализрованных фондов-партнеров, а с Вашего банковского счета в адрес этого фонда будет перечислено 500 рублей.</p>
                </div>
            </div>
        </div>
    </section>
