    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Заказать Помокарту</h2>
                    <p>На сегодняшний день, Помокарта - это только идея. Но если не менее 1000 человек оформят на нее предзаказ, то Помокарта может стать реальностью.</p>
                    <a href="https://goo.gl/B3zkke" target="_blank" class="btn btn-default btn-lg">Заполнить заявку</a>
                </div>
            </div>
        </div>
    </section>
